.navbar{
    position: sticky;
    top: 0;
    

    display: flex;
    justify-content: space-around;
    align-items: center;

    color: #54565A;
    background-color: #E7ECEE;
    height: 72px;
    z-index: 999;
}
.navbar__logo__wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}
.navbar__logo{
    font-size: 1.875rem;
    cursor: pointer;
    transition: all 0.1s;
    color: #353639;
}
.navbar__logo:hover{
    color: #111;
}
.navbar__ul{
    display: flex;
    list-style: none;
    padding: 0;
}
.navbar__ul__item{
    margin: 0 15px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.1s;
}
.navbar__ul__item:hover{
    color: #000;
}
.navbar__iconwrap{
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.5625rem;
}
.navbar__iconwrap__user{
    font-size: 1.375rem;
}
.navbar__icons{
    cursor: pointer;
    transition: all 0.1s;
}
.navbar__icons:hover{
    color: #111;
}
.navbar__icon__link{
    position: relative;
    color: inherit;
    display: flex;
}
.navbar__count{
    position: absolute;
    top: -5px;
    right: -5px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 16px;
    height: 16px;
    border-radius: 8px;
    font-size: 0.5625rem;
    color: #E7ECEE;
    background: linear-gradient(to right, #ec4899, #8b5cf6);
}

@media screen and (max-width: 768px) {
    .navbar{
        justify-content: space-between;
    }
    .navbar__iconwrap{
        margin: 0 7.5%;
    }
    .navbar__ul{
        display: none;
    }
}